
 * {
   margin:0;
   padding:0;
   font-family: 'Poppins', sans-serif;
   
}

/* body */

body{

    background-color: #ffffff ; 
}


/* header */

/*------ para dispositivos medianos -----*/
@media (min-width: 768px) {
    h1 {
      font-size: 1.6rem;
    }
  }
  /*------ para dispositivos desktop large -----*/
  @media (min-width: 992px) {
    h1 {
      font-size: 1.7rem;
    }
  }
  /*------ para dispositivos desktop xx-large -----*/
  @media (min-width: 1400px) {
    h1 {
      font-size: 1.9rem;
    }
  }



  /*-- carpeta utilities--*/
  #navbar {
    background-color: #F1F1F1;
  }
  
  @media (max-width: 425px) {
    .navbar-brand img {
      height: 40px;
      width: auto;
      padding-left: 20px;
    }

    button.navbar-toggler.collapsed{
       color: #000000;
    }

}



  @media (min-width: 768px) {
    .navbar-brand img {
      height: 50px;
      width: auto;
      padding-left: 20px;
    }
   
  }
  @media (min-width: 1024px) {
    .navbar-brand img {
      height: 60px;
      width: auto;
      padding-left: 50px;
    }
    
  }
  @media (min-width: 1440px) {
    .navbar-brand img {
      height: 80px;
      width: auto;
      padding-left: 70px;
    }
    
  }
  
  
  .nav-link {
    color: #000000;
    font-weight: bold;
    padding: 20px;

  }
  .nav-link:hover {
    color: #fe9c6f;
  }
  @media (max-width: 425px) {
    .nav-link {
      font-size: 0.7rem;
    }
  }
  @media (min-width: 768px) {
    .nav-link {
      font-size: 0.7rem;
    }
  }
  @media (min-width: 1024px) {
    .nav-link {
      font-size: 0.9rem;
    }
  }
  @media (min-width: 1440px) {
    .nav-link {
      font-size: 1rem;
    }
  }
  
  .navbar-nav {
    padding-right: 50px;
  }
  

/*  fin header */


/* footer */

/*------ para distintos tamaños -----*/


#footer {
    background-color: #fe9c6f;
    font-weight: 500;
    color: #fff;
  }
  @media (max-width: 767px) {
    #footer {
      font-size: 0.7rem;
    }
    #info {
        padding-top: 30px;
        font-size: 15px;
      }
  }
  @media (min-width: 768px) {
    #footer {
      font-size: 0.7rem;
    }
    #info {
        padding-top: 30px;
        font-size: 15px;
      }
  }
  @media (min-width: 1024px) {
    #footer {
      font-size: 0.9rem;
    }
    #info {
        padding-top: 30px;
        font-size: 15px;
      }
  }
  @media (min-width: 1440px) {
    #footer {
      font-size: 1rem;
    }
    #info {
        padding-top: 30px;
        font-size: 15px;
      }
  }
  
  @media (max-width: 767px) {
    #footer img {
      height: 25px;
    }
    #info {
        padding-top: 30px;
        font-size: 15px;
      }
  }
  @media (min-width: 768px) {
    #footer img {
      height: 30px;
    }
    #info {
        padding-top: 30px;
        font-size: 15px;
      }
  }
  @media (min-width: 1024px) {
    #footer img {
      height: 40px;
      
    }

    #info {
        padding-top: 30px;
        font-size: 15px;
      }
  }
  @media (min-width: 1440px) {
    #footer img {
      height: 50px;
    }
    #info {
        padding-top: 30px;
        font-size: 18px;
      }
  }
  
  
  
  #links-redes {
    padding-top: 5px;padding-bottom: 30px;
  }
  
  #copyright {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 15px;
  }
  
/* footer */

/* home */

.logo {
    width: 200px;
}

nav ul li {
    list-style: none;
    text-align: center;
    display:inline-block;
    margin:0 30px; 
    margin-right: 10px;
}

a{

     text-decoration: none;
     text-transform: uppercase;
     font-weight: bold;
     color: black

}


/* contenido */

/*------ para distintos tamaños -----*/
#carousel {
    padding: 15px 15px 0 15px;
  
  }


  #carousel .carousel-inner {
    border-radius: 20px;
  }
  
  #welcome {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  @media (min-width: 768px) {
    #carousel {
      padding: 40px 40px 0 40px;
    }
    #welcome {
        padding-top: 50px;
    padding-bottom: 50px;
      font-size: 1.1rem;
    }

    #text-hola {
        font-size: 45px;
        margin-bottom: 35px;
    }
  }
  @media (min-width: 1024px) {
    #carousel {
      padding: 50px 50px 0 50px;
    }
    #welcome {
        padding-top: 40px;
        padding-bottom: 50px;
      font-size: 1.2rem;
    }

    #text-hola {
        font-size: 45px;
        margin-bottom: 35px;
    }
  }
  @media (min-width: 1440px) {
    #carousel {
      padding: 44px 31px 0 31px;
      
    }
    #welcome {
        padding-top: 40px;
        padding-bottom: 50px;
      font-size: 1.4rem;
    }

    #text-hola {
        font-size: 55px;
        margin-bottom: 35px;
        margin-top: 18px;
    }

    #text-bienvenida{
        font-size: 22px;
        padding-bottom: 10px;
    }
  }


h1 {
    font-style: 1.5rem;
    font-weight: bold;
  }
  
  h2 {
    font-size: 1.4rem;
    font-weight: bold;
  }
  
/* fin de contenido */


/* fin de home */

/* fin de home */
/* fin de home */




/* acerca de mi */

@media (max-width: 425px) {
   
  }
  @media (min-width: 768px) {
    
  }
  @media (min-width: 1024px) {
    
  }
  @media (min-width: 1440px) {


  }
/*------ CARD -----*/
#card, #tabla-info {
    flex-direction: column;
    padding: 40px 40px 0 40px;
    color: #000000;
    transition: all 3s;
  }
  
  #card img {
    width: 180px;
    height: 180px;
    border-radius: 50%;

  }
  #card p {
    padding-top: 20px;
    font-weight: 500;
  }
  
  #text-sobremi{
    padding-bottom: 15px;
    color: #fe9c6f;
  }

  .text-formacion{
    color: #fe9c6f;
  }

  
  /*------ TABLA INFO -----*/
  #tabla-info {
    padding: 20px 40px 20px 40px;
  }
  #tabla-info ul {
    list-style-type: none;
  }
  #tabla-info ul .year {
    font-weight: bold;
  }
  #tabla-info ul .entity {
    font-weight: 500;
    font-style: italic;
  }
  #tabla-info ul .course {
    font-weight: normal;
  }
  
/* fin acerca de mi */





/* proyectos */


#galeria {
    flex-direction: column;
    padding: 40px 0 40px 0;
  }
  #galeria img {
    width: 80%;
    border-radius: 20px;
    border: #fe9c6f solid 6px;
    transition: all 1s ease;
    filter: saturate(0);
  }
  #galeria img:hover {
    transition: all 1s ease;
    filter: saturate(1);
    transform: scale(1.1);
  }
  #galeria .portfolio-item {
    padding: 20px;
  }
  #galeria .portfolio-item a {
    display: flex;
    justify-content: center;
  }
  
  /*------ proyectos individuales -----*/
  #proyecto {
    background-color: #fff;
  }
  #proyecto #text-center {
    padding: 40px 40px 20px 40px;
  }
  #proyecto #text-center h2 {
    font-size: 1rem;
    color: #fff;
    background-color: #fe9c6f;
    border-radius: 20px;
    padding: 10px;
  }
  #proyecto #proyect-img {
    padding-bottom: 40px;
  }
  #proyecto #proyect-img img {
    width: 100%;
    padding: 0 20px 0 20px;
  }
  
  #text-proyectos{
    padding-bottom: 15px;
    color: #fe9c6f;

  }



/* proyectos */



/* formulario */
#form_id {
  padding: 40px;
  padding-bottom: 80px;
  padding-top: 60px;
}

#form_id form {
  transition: all 3s;
}

#form_id form #nombre, #form_id form #apellido, #form_id form #email, #form_id form #telefono, #form_id form #mensaje {
  border:#fe9c6f solid 1px;

} 

.btn-secondary{
  background-color: #fe9c6f;
  border-color: #fe9c6f;
  
}

#send-button{
  color: #F1F1F1;
  font-weight:600;
}

/* formulario */


/* servicios */

#servicios {
  flex-direction: column;
  padding: 40px;
  transition: all 3s;
  
}

#text-servicios{
  padding-bottom: 20px;
  padding-top: 15px;
  color: #fe9c6f;

}

@media (max-width: 425px) {
 
}
@media (min-width: 768px) {
  
}
@media (min-width: 1024px) {
  
}
@media (min-width: 1440px) {


}
/* servicios */